.style-selector-container {
    .style-selector-label {
        font-size: 12px;
        font-weight: 400;
        color: #000;

        .style-selector-value {
            font-weight: 600;
        }
    }
}